@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

:root {
  --default-pad-mar: 30px;
  --default-input-pad: 5px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Alkatra", cursive;
}

header {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.75);
  animation: dropping 1s;
}

header h1 {
  font-size: 20px;
}

main {
}

main h2 {
  margin-top: var(--default-pad-mar);
  font-weight: 400;
  animation: from-left 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}

.forms-container > div.visible {
  display: flex;
  justify-content: center;
  gap: 10px;
  animation: from-right 1.5s ease-in-out;
}

.forms-container > div.hidden {
  display: none;
}

.forms-container input {
  padding-left: var(--default-input-pad);
  border: none;
  border-bottom: 1px solid gray;
}

.forms-container button {
  border: none;
  background-color: #6262e5;
  color: white;
}

.elems-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elems-container .elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.elems-container .valid-elem.selected {
  animation: jump 1s infinite;
}

.elems-container p {
  width: 90px;
  text-align: center;
  font-size: larger;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elems-container button {
  border: none;
  background-color: none;
  color: red;
  margin-bottom: 10px;
}

.discarded {
  animation: discarded 2s forwards;
}

.decision-btn-container {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: var(--default-pad-mar);
  padding-bottom: var(--default-pad-mar);
}

.decision-btn-container button {
  border: none;
  background: #6262e5;
  color: white;
  width: 50%;
  height: 50px;
  font-size: large;
  border-radius: 50px;
}

.result-container p {
  font-size: x-large;
  text-align: center;
  color: #b55fe8;
}

@keyframes dropping {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes from-left {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes from-right {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes discarded {
  from {
    transform: translate3d(-100px, -100px) rotate(2.5turn);
  }
  to {
    transform: translate(-1000px, -200px) rotate(5.5turn);
  }
}
